<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<distributable />
	<servlet>
		<servlet-name>CheckJDFServlet</servlet-name>
		<display-name>CheckJDF Servlet</display-name>
		<description />
		<servlet-class>
			org.cip4.jdfutility.CheckJDFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FixJDFServlet</servlet-name>
		<display-name>JDF Upgrade Servlet</display-name>
		<description />
		<servlet-class>org.cip4.jdfutility.FixJDFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SendJDFServlet</servlet-name>
		<display-name>JDF Proxy Sender Servlet</display-name>
		<description />
		<servlet-class>org.cip4.jdfutility.SendJDFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DumpJDFServlet</servlet-name>
		<display-name>JDF Logging Servlet</display-name>
		<description>logs any received data in a temp file</description>
		<servlet-class>org.cip4.jdfutility.DumpJDFServlet</servlet-class>
		<init-param>
			<param-name>rootDir</param-name>
			<param-value>/Dump</param-value>
			<description>Local location (root) of the directory to dump to</description>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckJDFServlet</servlet-name>
		<url-pattern>/CheckJDFServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FixJDFServlet</servlet-name>
		<url-pattern>/FixJDFServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendJDFServlet</servlet-name>
		<url-pattern>/SendJDFServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DumpJDFServlet</servlet-name>
		<url-pattern>/dump</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
</web-app>
