html,body,p,div,h1,h2,h3,h4,h5,h6,img,pre,form,fieldset
{
	margin: 0;
	padding: 0;
}
ul,ol,dl
{
	margin: 0;
}
img,fieldset
{
	border: 0;
}
body
{
	color: #333;
	font-family: Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857142857143;
}
[lang=en]
{
	font-family: Arial,sans-serif;
}
[lang=ja]
{
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
}
p,ul,ol,dl,h1,h2,h3,h4,h5,h6,blockquote,pre,form.aui,table.aui,.aui-tabs,.aui-panel,.aui-group
{
	margin: 10px 0 0 0;
}
p:first-child,ul:first-child,ol:first-child,dl:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,blockquote:first-child,pre:first-child,form.aui:first-child,table.aui:first-child,.aui-tabs:first-child,.aui-panel:first-child,.aui-group:first-child
{
	margin-top: 0;
}
h1
{
	font-size: 24px;
	font-weight: normal;
	line-height: 1.25;
	margin: 30px 0 0 0;
}
h2
{
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	margin: 30px 0 0 0;
}
h3
{
	font-size: 16px;
	line-height: 1.5;
	margin: 30px 0 0 0;
}
h4
{
	font-size: 14px;
	line-height: 1.42857142857143;
	margin: 20px 0 0 0;
}
h5
{
	color: #707070;
	font-size: 12px;
	line-height: 1.66666666666667;
	margin: 20px 0 0 0;
	text-transform: uppercase;
}
h6
{
	color: #707070;
	font-size: 12px;
	line-height: 1.66666666666667;
	margin: 20px 0 0 0;
}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child
{
	margin-top: 0;
}
h1+h2,h2+h3,h3+h4,h4+h5,h5+h6
{
	margin-top: 10px;
}
.aui-group>.aui-item>h1:first-child,.aui-group>.aui-item>h2:first-child,.aui-group>.aui-item>h3:first-child,.aui-group>.aui-item>h4:first-child,.aui-group>.aui-item>h5:first-child,.aui-group>.aui-item>h6:first-child
{
	margin-top: 20px;
}
.aui-group:first-child>.aui-item>h1:first-child,.aui-group:first-child>.aui-item>h2:first-child,.aui-group:first-child>.aui-item>h3:first-child,.aui-group:first-child>.aui-item>h4:first-child,.aui-group:first-child>.aui-item>h5:first-child,.aui-group:first-child>.aui-item>h6:first-child
{
	margin-top: 0;
}
small
{
	color: #707070;
	font-size: 12px;
	line-height: 1.33333333333333;
}
code,kbd
{
	font-family: monospace;
}
